body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #cc7f7f, #380ce8);
    color: #c0acac;
}

 .section {
    padding: 60px 20px;
    text-align: center;
}
.section h1{
  color: #f2f2f2;
  font-size: 70px;
}

.section p{
  color: #f2f2f2;
  margin-top: -40px;
  font-size: 30px;
}



.box {
    position: relative;
    width: 1000px;
    height: 800px;
    padding: 20px;
    margin-bottom: 50px ;
    background: #f2f2f2;
    border-radius: 12px;
    overflow: hidden;
    animation: fadeInUp 1s;
    box-shadow: 5px 5px 5px 5px #000;
}

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform-origin: center;
    animation: animate 3s linear infinite;
    z-index: 1;
}

.box::before {
    background: conic-gradient(transparent 60%, #000 40%, transparent 90%);
}

.box::after {
    background: conic-gradient(transparent 40%, #0008ff 40%, transparent 60%);
    animation-delay: -2s;
}

.borderline {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.borderline::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform-origin: center;
    background: conic-gradient(transparent 10%, #ffffff 40%, transparent 60%);
    animation: animate 3s linear infinite;
    animation-delay: -2s;
}

.outside {
    position: absolute;
    inset: 6px;
    background: hsl(236, 33%, 38%);;
    padding: 0;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
}

.Caesar-cipher {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.Caesar-cipher h1{
    color: #f2f2f2;
    text-align: center;
}

.Caesar-cipher img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: 0.3s ease;
}

.Caesar-cipher textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
    border-radius: 10px;
    padding: 20px;
    resize: none;
    font-weight: 600; 
     font-size: larger;
     box-shadow: 5px 5px 5px 5px #000;
     transition: all 0.4s ease;

}

.Caesar-cipher textarea:focus {
  box-shadow: none;
}

.shift {
  margin-top: 20px;
  margin-left: 90px;
  width: 600px;
  height: 20px;
  /* -webkit-appearance: none; */
  background: #dddddd96;
  border-radius: 10px;
  transition: all 0.6s ease;
  outline: none;
}

.shift::-webkit-slider-runnable-track {
  height: 10px;
  background: #bbb;
  border-radius: 9px;
}

.shift::-moz-range-track {
  height: 10px;
  background: #bbb;
  border-radius: 5px;
}

.shift::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: -5px; 
}

.shift::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.shift:hover::-webkit-slider-thumb,
.shift:focus::-webkit-slider-thumb {
  background: #000000;
}

.shift:hover::-moz-range-thumb,
.shift:focus::-moz-range-thumb {
  background: #000000;
}

.shift-amount{
  display: flex;
  justify-content: center;
  align-items: center;

}

.shift-amount h1{
  margin-top: 45px;
}

.activity{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.activity label button{
  width: 200px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  transition: all 0.6s ease;
  font-weight: bold;
}

.activity label button:hover{
  color: white;
  font-size: 20px;
  background-color: #000;
  font-weight: bolder;
}

.activity button.selected {
  background-color: #0004fc;
  color: white;
  font-size: 20px;
}
.done{
  margin-left: 400px;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transition: all 0.6s ease;
}

.done:hover{
  color: white;
  font-size: 20px;
  font-weight: bolder;
  background-color: #000;
}


/* ==================================================================================================== */
/*                                      out-table                                                       */
/* ==================================================================================================== */

.out-table{
    display: flex;

}



.output textarea{
  margin-top: 20px;

}
textarea:hover,
textarea:focus{
  box-shadow: 0px 0px 0px 0px #000;
}
.output {
  position: relative;
  display: inline-block;
}

#outputText {
  width: 100%;
  box-sizing: border-box;
}

.copy {
  position: absolute;
  margin-top: -225px;
  margin-left: 543px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}


.copy svg {
  transition: all 1s ease;
}

.copy:hover svg {
  color: #f2f2f2;
  transform: scaleX(-1); 
}

.copy:hover {
  background-color: #000000;
}

.table-action{
    background-color: #ffffff;
    margin-left: 90px;
    margin-top: 20px;
    width: 300px;
    height: 190px;
    border-radius: 20px;
    padding: 20px;
    color: #000;
    box-shadow: 5px 5px 5px 5px #000;
    transition: all 0.6s ease;
}

.table-action table{
    width: 300px;
    margin-top: -5px;
    border: none;
    height: 200px;
}

.table-action:hover,
.table-action:focus{
    box-shadow: 0px 0px 0px 0px #000;
}


/* ===================================================================================== */
.back_index {
  background-color: #f2f2f2;
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  margin-left: 730px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: all 1s ease;
  animation: fadeInUp 1s;
}

.back_index i,
.back_index h1 {
  font-size: 18px;
  color: #333;
  margin: 0;
  transition: color 0.3s ease;
}

.back_index:hover {
  background-color: #000000;
  transform: translateY(-9px);
}

.back_index:hover i,
.back_index:hover h1 {
  color: #f2f2f2;
}


/* ===================================================================================== */





/* ====================================================================================================== */


.explain {
  margin-top: 90px;
  text-align: center;
  color: #f2f2f2;
  transition: all 0.6s ease;
  animation:  fadeInUp 1s;
}

.explain p{
  font-size: 20px;
}

.alpha_table{
  text-align: center;
  
 width: 700px;
}
.alpha_table table{
  margin-left: 80px;
  width: 900px;
  padding: 9px;
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #000;
}

th{
  font-weight: 600; 
  font-size: larger;
  border-radius: 20px;

}
td{
  border-radius: 20px;
}

.key{
  width: 500px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  padding: 10px;
  font-family:   'Fira Sans Extra Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.where{
  width: 900px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  text-align: center;
  list-style: none;
  margin-left: 50px;
}

.where li{
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}  

.ex_table{
  display: flex;
  text-align: center;
  width: 400px;
  height: 300px;
  
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 320px;
  background: #f2f2f200;
}



.ex_table table{
margin-left: -200px;
  width: 300px;
  height: 100%;
  padding: 9px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #000;
}

.ex_table table th{
  font-weight: 600; 
  font-size: larger;
  border-radius:  10px;

}
.ex_table table td{
  border-radius: 10px;
}

p b{
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}

.bottom_down{
  margin-bottom: 100px;
}

.ex_table h1{
  text-align: center;
  margin-top: 70px;
  margin-left: 50px;
  font-size: 150px;
  color: #000;
}

.ex_table table{
  margin-left: 20px;
  width: 400px;
  height: 100%;
  padding: 9px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #000;
}


.ex_table table th{
  font-weight: 600; 
  font-size: larger;
  border-radius:  10px;

}
.ex_table table td{
  border-radius: 10px;
}

 


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(400px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeUp {
    0% {
      opacity: 6;
      transform: translateY(500px);
    }
    100% {
      opacity: 1;
      transform: translateY(200px);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }


  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } 
  
  


  